snippet f
	function (${1}) {
		${2}
	}
snippet log
	console.log("${1}: "+$1);
snippet ready
	$( document ).ready(function() {
	    ${0}
	});
snippet id
	document.getElementById("demo");
snippet qc
	document.querySelectorAll(".${1:grid}");
snippet qid
	document.querySelector("#${1:title}");
