snippet vec "std::vector<std::string> var;" !
std::vector<${1:std::string}>
endsnippet

snippet inc "inc<>" !b
#include <${1:string}>$0
endsnippet

snippet Inc "inc local" !b
#include "${1:string}.h"$0
endsnippet

snippet str "std::string" !w
std::string
endsnippet

snippet ts "To String" !
std::to_string($1)$0
endsnippet

snippet sp "shared_ptr" !
std::shared_ptr<$1> $0
endsnippet
